@import url(./__image/lead__image.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead-subtitle.css);
@import url(./__image-caption/lead__image-caption.css);
@import url(./__card/lead__card.css);

.lead {
  margin: 0 148px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .lead {
    margin: 0 48px;
    }
  }

@media screen and (max-width: 1023px) {
  .lead {
  margin: 0;
  }
}

