.cover__subtitle {
    max-width: 360px;
    min-height: 66px;
    margin: 0;
    margin: auto;
    padding-top: 32px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    border: 1px solid blue;
  }
  
  @media screen and (max-width: 767px) {
    .cover__subtitle {
      max-width: 288px;
      padding-top: 16px;
      font-size: 14px;
      line-height: 16px;
    }
  }