@import url(./__title/intro__title.css);
@import url(./__main-text/intro__main-text.css);
@import url(./__reference-info/intro__reference-info.css);
@import url(./__info-numbers/intro__info-numbers.css);

.intro {
  max-width: 690px;
  margin-left: 148px;
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  border: 1px solid blue;
}

@media screen and (max-width: 1279px) {
  .intro {
  max-width: 690px; 
  margin-left: 48px;
    }
  }

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    padding-top: 88px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    padding-top: 64px;
    margin: 0 16px;
  }
}
