@import url(./__title/intro__title.css);
@import url(./__main-text/intro__main-text.css);
@import url(./__reference-info/intro__reference-info.css);
@import url(./__info-numbers/intro__info-numbers.css);

.intro {
  padding: 92px 442px 0 148px;
}

@media screen and (max-width: 1279px) {
  .intro {
  padding: 92px 286px 0 48px;
    }
  }

@media screen and (max-width: 1023px) {
  .intro {
  padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
  padding: 64px 16px 0 16px;
  }
}
