@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);

.cover {
  padding: 0 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.cover:hover .cover__overlay {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1279px) {
  .cover {
  padding: 0;
  width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
   width: 100%;
  }
}

.cover:hover .cover__overlay {
  background-color: rgba(42, 44, 47, .8);
}


