.lead__image-caption {
  max-width: 159px;
  width: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 8px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .lead__image-caption {
padding-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image-caption {
  padding-left: 16px;
  }
}