.cover__title {
  max-width: 560px;
  min-height: 152px;
  margin: 0;
  position: absolute;
  top: 245px;
  left: 312px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    top: 195px;
    left: 232px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    top: 115px;
    left: 104px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    min-height: 70px;
    top: 33px;
    left: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
